        <ul id="mainnav">
            <li>
                <a href="/post/">
                <span class="icon"> <i class="fa fa-pencil" aria-hidden="true"></i></span>
                <span> blog </span>
            </a>
            </li>
            <li>
            <a href="/project/">
                <span class="icon"> <i class="fa fa-code" aria-hidden="true"></i></span>
                <span> code </span>
            </a>
            </li>
            <li>
            <a href="{{.Site.Params.personal_site}}">
                <span class="icon"> <i class="fa fa-id-card" aria-hidden="true"></i></span>
                <span> me </span>
            </a>
            </li>
        </ul>
